<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />


<div class="page">


    <div class="row g-0">
        <div class="col-md-8 detail-container">
            <div class="url-detail row g-0 ">
                <div class="col-md-4 url-basic-detail data-container">
                    <div class="heading">
                        URL
                    </div>
                    
                    <div class="basic-details-container">
                        {{url.substring(0, 38)}}
                        <br>
                        <b>Type:</b> {{data.type.substring(0, 165)}}
                    </div>
                    <br>
                    
                </div>

                <div class="col-md-8 url-summary-text data-container">
                    <div class="heading">
                        Summary
                    </div>
                    <!-- <app-loading-text></app-loading-text> -->
                     <div class="headline-container overflowable-container ">
                        {{data.headline}}
                     </div>
                    
                </div>
            </div>

            <div class="row g-0 detailed-summary-container data-container">
                <div class="heading">
                    Website details
                </div>
                <div class="text overflowable-container">
                    <markdown class="overflowable-container" [data]="data.webPageSummary">
                    </markdown>
                </div>
            </div>

            <div class="row g-0 links-images-container">
                <div class="data-container link-data-container">
                    <div class="heading">
                        Links
                    </div>
                    <div class="links-container overflowable-container">
                        <ul class="links">
                            <li class="link" *ngFor="let link of data.links">
                                {{link}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="data-container image-data-container">
                    <div class="heading ">
                        Images
                    </div>
                    <div class="images-container overflowable-container">
                        <div class="images">
                            <div class="image" *ngFor="let image of data.images">

                                <img [src]=image alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <div class="chat-container">

                <div class="chats">
                    <div class="empty-chat" *ngIf="chats.length== 0">
                        <img src="assets/chatbot-icon.png" alt="">
                        <p>
                            No chats available.
                            <br>
                            <br>Start a new conversation!
                            <br>Regarding this Web Page
                        </p>
                    </div>

                    <div class="some-chat" #chatContainer *ngIf="chats.length!= 0">
                        <div class="chat-field" *ngFor="let chat of chats;">

                            <div *ngIf="chat.sender== 'chatbot'" class="bot-chat">
                                <span matTooltip="Chatbot" class=" chat-sender-icon material-symbols-outlined">
                                    smart_toy
                                </span>
                                <p>{{chat.message}}</p>
                            </div>


                            <div *ngIf="chat.sender== 'user'" class="user-chat">
                                <p>{{chat.message}}</p>
                                <span class="chat-sender-icon material-symbols-outlined">
                                    person
                                </span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="chat-input-container">
                    <input type="text" [(ngModel)]="typedMessage">
                    <!-- <textarea name="" id=""></textarea> -->
                    <button (click)="sendMessage()" [disabled]="typedMessage.length==0 || chatProcessing">
                        <span *ngIf="!chatProcessing" class="material-symbols-outlined ">
                            send
                        </span>
                        <span *ngIf="chatProcessing" class="material-symbols-outlined">
                            schedule_send
                        </span>
                    </button>
                </div>

            </div>
        </div>
    </div>


</div>

<div class="loader" *ngIf="dataLoading">
    <mat-spinner diameter="50"></mat-spinner>
</div>