<div class="pop-up">
    <div class="heading-container">
        About
    </div>
    <br>

    <div class="data-container">


        <p>
            Introducing our AI-powered web crawler app, designed to revolutionize how you gather and analyze online data. Our app leverages advanced artificial intelligence to navigate the internet, identifying and extracting valuable information from diverse web sources. With its intelligent algorithms, it ensures the data collected is accurate, relevant, and up-to-date. Perfect for businesses and researchers, our AI web crawler app can efficiently handle large-scale data mining, market analysis, and content aggregation tasks. Enhance your productivity and insights with our cutting-edge web crawler technology, tailored to meet your specific needs.
        </p>

    </div>
    <br>
    <div class="action-buttons-container">

        <div class="buttons">
            <button class="btn btn-secondary" mat-dialog-close>Close</button>
            <!-- <button class="btn btn-primary" (click)="submit()">Next</button> -->
        </div>


    </div>
</div>